#kuuconList{
    width: 300px;
    margin: 10px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    float: left;
}
.emoji-image {
    width: 200px; /* Set the desired width here */
    height: auto; /* Maintain aspect ratio */
  }