body {
  background-color: rgba(100, 125, 250, 0.1);
}
#kuuconSearch {
  height: 40px;
  width: 300px;
  border-radius: 30px;
  border: 2px solid grey;
  text-align: center;
  margin: auto;
}

#kuuconList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.emoji-image-container {
  width: 250px;
  height: 300px;
  float: left;
  padding: 10px;
  background-color: white;
  border: 1px solid rgba(128, 128, 128, 0.5);
  margin: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative; /* Add position relative */
}

.copied-message {
  background-color: rgba(240, 240, 250, 1);
  padding: 5px;
  font-size: 9px;
  border-radius: 10px;
}

.emoji-name {
  position: absolute;
  top: 10px; /* Adjust the top position as needed */
  left: auto; /* Adjust the left position as needed */
}

.copy-button {
  position: absolute;
  bottom: 10px; /* Adjust the bottom position as needed */
  left: 50%; /* Position in the center horizontally */
  transform: translateX(-50%); /* Center the button horizontally */
  width: 100px;
  height: 30px;
  border: 0px;
  background-color: rgba(100, 125, 250, 0.5);
  border-radius: 50px;
}
.copy-button:hover {
  background-color: rgba(100, 125, 250, 0.8);
}
.copy-button:active {
  background-color: rgba(100, 125, 250, 0.2);
}

.emoji-image {
  max-width: 100%; /* Set the desired width here */
  max-height: 70%; /* Maintain aspect ratio */
}
